.RiotGalleryBackground {
    background: rgba(0,0,0,.8) url('../im/spin.svg') center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    top: 0; left: 0;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
}

.RiotGalleryImageBox {
    width: inherit;
    height: inherit;
    text-align: center;
    position: relative
}

.RiotGalleryImageBox img {
    display: inline-block;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
    max-width: 90%;
    max-height: 90%;

}

.RiotGalleryImageBox img.hide {
    transition: margin-top 0.2s ease;
    margin-top: -100px;
    opacity: 0;
}

.RiotGalleryControlPrev,
.RiotGalleryControlNext {
    background: rgba(0,0,0,.05);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0; left: 0;
    z-index: 999999;

    transition: background-color 0.3s ease-out;
}

.RiotGalleryControlPrev {
    background-image: url('../im/back.svg');
}

.RiotGalleryControlNext {
    background-image: url('../im/next.svg');
    right: 0;
    left: auto;
}

.RiotGalleryControlPrev:hover,
.RiotGalleryControlNext:hover {
    background-color: rgba(0,0,0,.15);
}

.RiotGalleryControlClose {
    background: rgba(0,0,0,.1) url('../im/cancel.svg') center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0; right: 0;
    z-index: 999999;

    transition: background-color 0.3s ease-out;
}